<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        // Recupere os valores passados pelo servidor
        const uuidPlayer = "<%= uuidPlayer %>";
        const nickname = "<%= nickname %>";
        const roomPass = "<%= roomPass %>";
    </script>
    <link rel="stylesheet" type="text/css" href="/css/room.css" />
    <title>Room => (id)</title>
</head>
<body>
    <div id="chat"></div>
    <script src="/js/room.js"></script>
</body>
</html>