<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        // Recupere os valores passados pelo servidor
        const uuidPlayer = "<%= playeruuid %>";
        const nickname = "<%= nickname %>";
        const roomPass = "<%= roomPass %>";
        document.title = 'Connecting at room: ' + ((window.location.href).split('/room/')[1]);
        if (!uuidPlayer || !nickname) errorOnLoadingScript();
    </script>
    <link rel="stylesheet" type="text/css" href="/css/room/room.css" />
</head>
<body oncontextmenu="return false;">
    <div class="container">
        <!-- Chat e notas -->
        <div id="tabs-area">

            <div id="tabs-headers">
                <button id="SwitchTochat" onclick="switchToTab('chat-tab')">chat</button>
                <button id="SwitchTonotes" onclick="switchToTab('notes-tab')">notas</button>
            </div>
            
            <div id="chat-tab" class="tab">
                <div id="chat-messages"></div>
                <div id="input-chat-area">
                    <input placeholder="Máximo 50 caracteres..." id="input-chat" onkeydown="if (event.key === 'Enter') { sendMessage(); }">
                    <button id="input-chat-btn" onclick="sendMessage()">Enviar</button>
                </div>
            </div>          

            <div id="notes-tab" class="tab hidden">
                <textarea placeholder="Digite suas notas aqui... (Salvas localmente a cada 10 segundos)" id="notes"></textarea>
                <button id="clear-notes" onclick="document.getElementById('notes').value = '';">Clear</button>
            </div>
        </div>

        <!-- Cartas -->
        <div class="cards"> <!-- botões -->
            <button id="card-1" class="card" disabled>Político</button>
            <button id="card-2" class="card" disabled>Rebelde</button>
            <button id="card-3" class="card" disabled>Assassino</button>
            <button id="card-4" class="card" disabled>Trilionário</button>
            <button id="card-5" class="card" disabled>Trapaceiro</button>
            <button id="card-6" class="card" disabled>Necromante</button>
            <button id="card-7" class="card" disabled>Crupiê</button>
            <button id="card-8" class="card" disabled>Kamikaze</button>
            <button id="card-9" class="card" disabled>Egoísta</button>
            <button id="card-10" class="card" disabled>Clarividente</button>
            <button id="card-11" class="card" disabled>Guardiã</button>
            <button id="card-12" class="card" disabled>Investidor</button>
        </div>

        <!-- players -->
        <div id="player-1" class="player" style="word-wrap: break-word">player 1</div>
        <div id="player-2" class="player">player 2</div>
        <div id="player-3" class="player">player 3</div>
        <div id="player-4" class="player">player 4</div>
        <div id="player-5" class="player">player 5</div>
        <div id="player-6" class="player">player 6</div>
        <div id="player-7" class="player">player 7</div>
        <div id="player-8" class="player">player 8</div>
        <div id="player-9" class="player">player 9</div>
        <div id="player-10" class="player">player 10</div>

        <!-- informações -->
        <div class="infos">
          <div id="room-code"></div>
          <div id="tax">Taxas: <span id="tax-amount">undefined</span></div>
          <div id="turn">Turno: <span id="turns">undefined</span></div>
        </div>

        <div id="card-left">left</div>
        <div id="card-right">right</div>

        <div id="coin-amount-area">Moedas: <span id="coin-amount">undefined</span></div>
        <div id="invest-amount-area">Investidos: <span id="invest-amount">undefined</span></div>

        <div id="timer">
            <img src="/images/room/clock.svg" alt="game time" width="20px" height="20px">
            <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
        </div>

        <!-- ações básicas -->
        <div class="basic-actions">
          <button id="Buy" onclick="takeCoin_basic(1)" disabled>Pegar +1 moeda</button> <!-- botão -->
          <button id="kill" disabled>Matar com as próprias mãos</button> <!-- botão -->
          <button id="switch" disabled>Trocar cartas</button> <!-- botão -->
        </div>

        <div id="atual-moment">
            <p id="atual-moment-text" class="hidden">Iniciando...</p>
            <button id="startGame-button" onclick="startGame();" disabled>Iniciar</button> <!-- botão -->
        </div>

        <!-- demais elementos -->
        <div id="dead-deck"><span id="dead-deck-amount"></span></div>
        <div id="deck"><span id="deck-amount"></span></div>

        <button id="contest" onclick="" disabled>Contestar</button> <!-- botão -->
        <button id="pass" onclick="pass_basic()" disabled>Passar</button> <!-- botão -->

      </div>
    <script src="/js/room/client_functions.js" onerror="errorOnLoadingScript()"></script>
    <script src="/js/room/gameData.js" onerror="errorOnLoadingScript()"></script>
    <script src="/js/room/ws_connction.js" onerror="errorOnLoadingScript()"></script>
    <script src="/js/room/ws_onRecive.js" onerror="errorOnLoadingScript()"></script>
    <script src="/js/room/ws_sending.js" onerror="errorOnLoadingScript()"></script>
    <script src="/js/room/toggleButtons.js" onerror="errorOnLoadingScript()"></script>
</body>
</html>