.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . . . . ."
        ". . . . . . ."
        "chat chat . . . . ."
        "chat chat . . . . .";
}

.chat {
    color: rgb(58, 58, 58);
    grid-area: chat;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex: 1;
    max-height: calc(50vh - 40px); /* Leve em consideração a altura do input */
    overflow-y: scroll;
}

.chat p {
    color: #000000;
    margin: 5px;
    word-wrap: break-word;
    font-size: 26px;
}

.message-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #f0f0f0;
}

.message-input input {
    flex: 1;
    margin-right: 10px;
}

html, body, .container {
    height: 100%;
    margin: 0;
}

.container * {
    border: 1px solid black;
    position: relative;
}
