#startGame-button {
    padding: 2% 5%;
    font-size: 3em;
    width: 100%;
    height: 100%;
}

#atual-moment-text {
    width: 100%; /* A div ocupa toda a largura disponível */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}