html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Remove a barra de rolagem da página inteira */
}

.container { 
  display: grid;
  height: 100%;
  margin: 0;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 
    "player-1 player-1 . . deck . infos infos . dead-deck timer . player-10 player-10"
    "player-2 player-2 . . deck . . . . dead-deck . . player-9 player-9"
    "player-3 player-3 . . atual-moment atual-moment atual-moment atual-moment atual-moment atual-moment . . player-8 player-8"
    "player-4 player-4 . . atual-moment atual-moment atual-moment atual-moment atual-moment atual-moment . . player-7 player-7"
    "player-5 player-5 . . dispute . . . . pass . . player-6 player-6"
    "chat chat chat . . . basic-actions basic-actions . . . cards cards cards"
    "chat chat chat . card-left . basic-actions basic-actions . card-right . cards cards cards"
    "chat chat chat . card-left . basic-actions basic-actions . card-right . cards cards cards"
    "chat chat chat . . . basic-actions basic-actions . . . cards cards cards"
    "chat chat chat . . . coin-amount invest-amount . . . cards cards cards"; 
}

#player-1 { grid-area: player-1; }

#player-2 { grid-area: player-2; }

#player-3 { grid-area: player-3; }

#player-4 { grid-area: player-4; }

#player-5 { grid-area: player-5; }

#player-6 { grid-area: player-6; }

#player-7 { grid-area: player-7; }

#player-8 { grid-area: player-8; }

#player-9 { grid-area: player-9; }

#player-10 { grid-area: player-10; }
  
.cards { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-1 card-2 card-3"
      "card-4 card-5 card-6"
      "card-7 card-8 card-9"
      "card-10 card-11 card-12";
    grid-area: cards;
}
  
#card-1 { grid-area: card-1; }

#card-2 { grid-area: card-2; }

#card-3 { grid-area: card-3; }

#card-4 { grid-area: card-4; }

#card-5 { grid-area: card-5; }

#card-6 { grid-area: card-6; }

#card-7 { grid-area: card-7; }

#card-8 { grid-area: card-8; }

#card-9 { grid-area: card-9; }
  
#card-10 { grid-area: card-10; }

#card-11 { grid-area: card-11; }

#card-12 { grid-area: card-12; }

#timer { grid-area: timer; }

#dead-deck { grid-area: dead-deck; }

#deck { grid-area: deck; }

#atual-moment { grid-area: atual-moment; }

.infos {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "turn tax"
    "room-code room-code"; 
  grid-area: infos; 
}
#room-code { grid-area: room-code; }

#tax { grid-area: tax; }

#turn { grid-area: turn; }
  
.basic-actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.1fr 0.9fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Buy Buy"
      "kill switch";
    grid-area: basic-actions;
}
  
#Buy { grid-area: Buy; }

#kill { grid-area: kill; }

#switch { grid-area: switch; }

#card-left { grid-area: card-left; }

#card-right { grid-area: card-right; }

#coin-amount-area { grid-area: coin-amount; }

#invest-amount-area { grid-area: invest-amount; }

#dispute { grid-area: dispute; }

#pass { grid-area: pass; }
