span {
    border: 0px !important;
}

img {
    border: 0px !important;
}

#room-code, #tax, #turn, #timer, .player, #deck, #dead-deck, #coin-amount-area, #invest-amount-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disconnectedPlayer {
    opacity: 0.5;
}